{% extends "base.html.twig" %}



{% block title %}Congés{% endblock %}

{% block body %}
    {% if app.user %}   
        <style>
            h1{ text-align: center; }
        </style>

        <div class="example-wrapper">
            <h1 style="background-color: grey; color: orange;"> Congés demandé 🍊</h1>

            <section class = "conges">
                
                    <table class="table table-dark">
                        <thead>
                            <tr>
                            <th scope="col">#</th>
                            <th scope="col">Jours demandé</th>
                            <th scope="col">Jours restant</th>
                            <th scope="col">Statut</th>
                            <th scope="col">Congé Restant</th>
                            <th scope="col">Email</th>
                            </tr>
                        </thead>
                        {% for conge in conges %}
                            <tbody>
                                <tr>
                                <th scope="row">{{employe.id}}</th>
                                <td>{{conges.jourDemande}}</td>
                                <td>{{conges.jourRestant}}</td>
                                <td>{{conges.statut}}</td>
                                <td>{{conges.dateDemande}}</td>
                                <td>{{employes.nom}}</td>
                                <td>{{employes.email}}</td>
                                </tr>
                            </tbody>
                        {% endfor %}
                    </table>
                
            </section>

            <a href="{{ path('creer_employe') }}" class="btn btn-success"> Ajouter </a>

            {# <a href "{{ path('modifier_employe', { id: employes.id }) }}" class="btn btn-warning"> Modifier </a> #}

            {# <a href "{{ path('supprimer_employe') }}" class="btn btn-danger"> Supprimer </a> #}
            
            
            {# <ul>
                <li>Your controller at <code><a href="{{ '/Users/phillipowusu/Desktop/LogicielRH/OrangeRh/src/Controller/OrangeController.php'|file_link(0) }}">src/Controller/OrangeController.php</a></code></li>
                <li>Your template at <code><a href="{{ '/Users/phillipowusu/Desktop/LogicielRH/OrangeRh/templates/orange/index.html.twig'|file_link(0) }}">templates/orange/index.html.twig</a></code></li>
            </ul> #}
        </div>
    

    {% else %}

        <h2 style = ""> Veuillez vous connecter !</h2>

    {% endif %}
{% endblock %}