{% extends 'base.html.twig' %}

{% block title %}Message{% endblock %}

{% block body %}
    <h1>Messages</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Objet</th>
                <td>{{ message.Titre }}</td>
            </tr>
            <tr>
                <th>Recu le :</th>
                <td>{{ message.Date ? message.Date|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Echelon</th>
                <td>{{ message.statut }}</td>
            </tr>
            <tr>
                <th>Service</th>
                <td>{{ message.contenu }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('employes_index') }}">Retour vers les messages</a>

{% endblock %}
