{% extends 'base.html.twig' %}

{% block title %}Employes{% endblock %}

{% block body %}
    <h1  style = "color : orange; text-align: center; background-color: grey;">Employes</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Age</th>
                <th>Adresse</th>
                <th>DateArrive</th>
                <th>Echelon</th>
                <th>Service</th>
                <th>Salaire</th>
                <th>CongeRestant</th>
                <th>Email</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for employe in employes %}
            <tr>
                <td style = "color: white;">{{ employe.id }}</td>
                <td style = "color: white;">{{ employe.nom }}</td>
                <td style = "color: white;">{{ employe.prenom }}</td>
                <td style = "color: white;">{{ employe.age }}</td>
                <td style = "color: white;">{{ employe.adresse }}</td>
                <td style = "color: white;">{{ employe.dateArrive ? employe.dateArrive|date('Y-m-d') : '' }}</td>
                <td style = "color: white;">{{ employe.echelon }}</td>
                <td style = "color: white;">{{ employe.service }}</td>
                <td style = "color: white;">{{ employe.salaire }}</td>
                <td style = "color: white;">{{ employe.congeRestant }}</td>
                <td style = "color: white;">{{ employe.email }}</td>
                <td>
                    <button class="btn btn-success"> <a  href="{{ path('employes_show', {'id': employe.id}) }}"> Afficher </a></button>
                    <button class = "btn btn-warning"> <a  href="{{ path('employes_edit', {'id': employe.id}) }}">Modifier </a> </button>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="12">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <button class = "btn btn-success"> <a href="{{ path('employes_new') }}"> Ajouter </a></button>
{% endblock %}
