{% extends 'base.html.twig' %}

{% block title %}Employes{% endblock %}

{% block body %}
    <h1>Employes</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ employe.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ employe.nom }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ employe.prenom }}</td>
            </tr>
            <tr>
                <th>Age</th>
                <td>{{ employe.age }}</td>
            </tr>
            <tr>
                <th>Adresse</th>
                <td>{{ employe.adresse }}</td>
            </tr>
            <tr>
                <th>DateArrive</th>
                <td>{{ employe.dateArrive ? employe.dateArrive|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Echelon</th>
                <td>{{ employe.echelon }}</td>
            </tr>
            <tr>
                <th>Service</th>
                <td>{{ employe.service }}</td>
            </tr>
            <tr>
                <th>Salaire</th>
                <td>{{ employe.salaire }}</td>
            </tr>
            <tr>
                <th>CongeRestant</th>
                <td>{{ employe.congeRestant }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ employe.email }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('employes_index') }}">back to list</a>

    <a href="{{ path('employes_edit', {'id': employe.id}) }}">edit</a>

    {{ include('employes/_delete_form.html.twig') }}
{% endblock %}
